<!-- Homepage -->
			
<!--  slider -->
  <div class="home-slider-main">
    <div class="container">
      <div id="home-slider">

        <div class="item slide-inner">
          <div class="slider-text">           
            <h1 class="slider-heading"><span class="orangetop">design</span></h1>
           
            <div class="slider-tag">
            </div>
          </div>
          <img src="{{ 'coffee4.png' | asset_url }}" class="img-responsive slider-back-img" alt="slider-back-1">
          <img src="{{ 'eye.png' | asset_url }}" class="img-responsive slider-top-img" alt="slider-top-1">
        </div>



        <div class="item slide-inner">
          <div class="slider-text">
            <h1 class="slider-heading"><span class="greentop">develop</span></h1>
         
            <div class="slider-tag">
            </div>
          </div>
          <img src="{{ 'coffee2.png' | asset_url }}" class="img-responsive slider-back-img" alt="slider-back-1">
          <img src="{{ 'brain.png' | asset_url }}" class="img-responsive slider-top-img" alt="slider-top-1">
        </div>


        <div class="item slide-inner">
          <div class="slider-text">
            <h1 class="slider-heading"><span class="redtop">heart</span></h1>
         
            <div class="slider-tag">
            </div>
          </div>
          <img src="{{ 'coffee3.png' | asset_url }}" class="img-responsive slider-back-img" alt="slider-back-1">
          <img src="{{ 'heart.png' | asset_url }}" class="img-responsive slider-top-img" alt="slider-top-1">
        </div>


        <div class="item slide-inner">
          <div class="slider-text">
            <h1 class="slider-heading"><span class="bluetop">focus</span></h1>
          
            <div class="slider-tag">
            </div>
          </div>
          <img src="{{ 'coffee1.png' | asset_url }}" class="img-responsive slider-back-img" alt="slider-back-1">
          <img src="{{ 'focus.png' | asset_url }}" class="img-responsive slider-top-img" alt="slider-top-1">
        </div>


      </div>
     
    </div>
  </div>
<!--  end slider -->

<!--  icons bar -->

      <div class="container">
        <div class="pad15"></div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
            <div class="item-img">
                <img src="{{ 'eye_black.png' | asset_url }}" width="100px">
              </div>
           
            <h3 class="plan-price">The eye of a tasteful designer</h3>
            
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="{{ 'brain_black.png' | asset_url }}" width="100px">
              </div>
          <h3 class="plan-price">The mindset of a developer</h3>
            
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="{{ 'heart_black.png' | asset_url }}" width="100px">
              </div>
            <h3 class="plan-price">The heart of an ethical entrepreneur</h3>
             
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="{{ 'focus_black.png' | asset_url }}" width="100px">
              </div>
         <h3 class="plan-price">The focus of a coffee drinker</h3>
           
            </div>
          </div>
        </div>
      </div>
    </section>

<!--  end icon bar -->




     
   
     
   


<!--  products -->
<div id="plans" class="plans-main-block mrg-top mrg-btm">
	<div class="container">
    	<div class="row">






<!-- product loop -->

{% for product in collections.frontpage.products limit:3  %}

        <div class="col-md-4">
			<div class="plan-block">   
            <a href="{{product.url}}">{{ product.featured_image | product_img_url: 'large' | img_tag }}</a>

           
            <h3 class="plan-name">{{product.title}}</h3>
            <h3 class="plan-price">{{ product.variants.first.inventory_quantity }} available</h3>
           
            	<div class="plan-dtl text-center">
              		<p>{{ product.description }} </p>
            	</div>  
             	<div class="plan-btn text-center">          
              	<a href="{{product.url}}" class="btn btn-default">Find out more</a>
            	</div>
          	</div>
        </div>

 {% endfor %}

<!-- end product loop -->






     	</div>
    </div>
</div>
<!--  end products -->






 
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center about-block">
                    <h2 class="middle-heading">Why Craig?</h2>
                    <hr class="light">
                    <div class="text-left">
                    <p>Craig has been working within the web industry since the 90's. This means that he has seen fads and trends come and go, this has helped to shape Craigs taste. Craig is very much a self starter and has managed teams of designers, developers and content writers on a variety of projects of all shapes and sizes.</p>
                    <p>
                    Craig has also run a number of small businesses, employing creatives from many different disciplines. He is aware that any new team member has to not only cover costs, but bring extra value and ensure a company thrives.</p>
                    <p>As a Shopify partner, Craig has developed numerous custom themes (including this one, expecially for you) and has managed his own succesful stores for a number of years. If it can be done on Shopify, Craig can do it.</p> 
                    <p>Craig spends most of his time in his ramshackle renovation project in a tiny part of France that no-one but the locals has ever heard of. As you’d expect from any Welshman pretending to be a Frenchman, Craig is fuelled by great bread and amazing coffee. Give him a Couronne and a Carmen Estate Geisha in the morning sunshine and you’ll never see a grown man more contented.</p>
                    <p>
                    In short, Craig is a safe bet. He knows his stuff and is keen to to work with an intelligent team on an exciting product.</p>
                  </div>
                </div>
            </div>
        </div>
  
