<!-- product details -->
  <div id="product-details-page" class="product-details-block mrg-btm">
    <div class="container">
      <div class="section">
        <h3 class="section-heading"></h3>          
      </div>
      <div class="row">
       
        <div class=" col-md-5 product-sidebar">           
        
             <a href="{{product.url}}">{{ product.featured_image | product_img_url: 'large' | img_tag }}</a>
                      
                   
        </div>
        <div class=" col-md-7 "> 
          <div class="product-sidebar"> 
            <div class="download-btn text-center">
              <a href="#" class="download-link">Special offer</a>
              <ul class="download-dtl">
                <li><a href="#">Buy 1 Craig get all 3 versions for free</a> </li>
              
              </ul>
            </div>
          
          
            <div class="recent-products"> 
              <h3 class="sidebar-heading">{{product.title}}</h3>

             

                <p> {{product.metafields.products.extradesc}}</p>

                <h3 class="sidebar-heading">POints of interest</h3>

                <p> {{product.metafields.products.list}}</p>

            

               <div class="tags">
            <h3 class="sidebar-heading">Relevant skills</h3>


              <ul>
              {% for tag in product.tags %}  
              <li><a href="#" class="label label-default">{{ tag }}</a></li>
              {% endfor %}
              </ul>

            
            </div>
           
         
 

                <div class="plan-btn text-left">          
                    <form action="/cart/add" method="post">
                     
                            <select id="product-select" name='id' class='hidden'>
                            {% for variant in product.variants %}
                            <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                            {% endfor %}
                          </select>
      
                          <input type="submit" value="Add to cart" id="addtocart" class="btn btn-default" />
   
                        </form>
                   
                </div>

              
            </div>

           
           
          </div>   
        </div>
      </div>
    </div>
  </div>
<!-- end product details -->